################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Billing/bin
/Billing/obj
/GlobleLibrary/bin
/GlobleLibrary/obj
/packages
/.vs
/Setup1/Debug
/Setup1/Release
/Backend/ChallanBillingDB/.vs
