<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Billing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Billing.Properties.Settings.DataConnectionString1"
            connectionString="Data Source=ABC-PC\SQLEXPRESS;Initial Catalog=BillingChallan;User ID=sa;Password=shiv"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Billing.Properties.Settings>
            <setting name="Create_Bill_Start_Date" serializeAs="String">
                <value>2011-10-01</value>
            </setting>
            <setting name="Super_Admin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Bill_No_Mannual" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Challan_No_Mannual" serializeAs="String">
                <value>1</value>
            </setting>
        </Billing.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
